<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213971547504-eohvltkse1usn6nkuriigruhbqunde8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213971547504-eohvltkse1usn6nkuriigruhbqunde8h</string>
	<key>API_KEY</key>
	<string>AIzaSyD49juLjVt8CZ_eMqxXoVQn43xDNcQZsFI</string>
	<key>GCM_SENDER_ID</key>
	<string>213971547504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..designbywoodall.sandeep</string>
	<key>PROJECT_ID</key>
	<string>explore-delaware</string>
	<key>STORAGE_BUCKET</key>
	<string>explore-delaware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213971547504:ios:9d1a5a2ba503ac5b</string>
	<key>DATABASE_URL</key>
	<string>https://explore-delaware.firebaseio.com</string>
</dict>
</plist>